
.parallax1 {
  height: 100vh;
}

.parallax2 {
  height: 90vh;
}

.parallax img {
  max-height: 120%
}

header {
  min-height: 100vh !important;  
  z-index: 1;  

}

.mainHeader {
  background-color: rgba(48, 48, 34, 0.4);
  margin: 25vh auto 0 auto;
  border-radius: 5px;
  padding: 2vw;
  width: fit-content;
  height: fit-content;
}


header h5 {
  margin: 0;
}
 
.upArrow1 {
  margin: 8vh 0 0 0;
}

.upArrow2 {
  margin: 2vh 0 0 0;
}
.myPhoto {
  height: 30vh;
  width: 30vh;
  /* border: 5px solid darkgrey; */
  border-radius: 110px;
  margin: 5vh 0 2vh 0;
  box-shadow: 
    0px -2px 0 black,
    0px 2px 0 black,
    -2px -2px 0 magenta,
    2px 2px 0 magenta,
    -4px 0px 0 yellow,
    4px 0px 0 yellow,
    -3px 3px 0 cyan,
    3px -3px 0 cyan;
}

.about {
  margin: 0;
  padding: 0;
}

.about p {
  margin: 5px;
  font-size: 16px;
  letter-spacing: 1.5px;

  
}

.introduction {
  /* background-color: lightyellow; */
  border: 2px solid grey;
  border-radius: 10px;
  margin: 2vh;
}
.introduction p {
  font-size: 18px;
}

.introduction span {
  font-size: 28px;
  text-shadow: -1px -1px 0 magenta,
  1px 1px 0 magenta,
  -2px -2px 0 yellow,
  2px 2px 0 yellow,
  -4px -4px 0 cyan,
  4px 4px 0 cyan;
}

h5 {
  margin: 2vh;
  letter-spacing: 1.5px;
}

.skills {
  margin: 50px 0 15px 0;
}
.skillLogoHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2vh 0 0 0 ;
}

.skillLogo {
  height: 5vh;
  margin: 2vh;
}

.projects h3 {
  margin: 5vh auto 2vh auto;
  color: rgb(255,	239,	214);
  text-shadow: -0.5px -0.5px 0 grey,
  0.5px 0.5px 0 grey,
  -0.5px 0.5px 0 grey,
  0.5px -0.5px 0 grey,
  -0.5px 0px 0 grey,
  0.5px 0px 0 grey,
  0px 0.5px 0 grey,
  0px -0.5px 0 grey;
}

/* mobile */
@media only screen and (max-width : 992px) {
  .projectImage {
    width: 40vw;
  }
  header h1 {
  font-size: 70px;
  margin: 1vw;
  }
}


/* desktop */
@media only screen and (min-width: 993px) {
  .projectImage {
    width: 30vw;
    max-height: 33vh;
  }
  header h1 {
  font-size: 100px;
  margin: 1vw;
  }
}
.projectImage {
  border: 2px solid lightyellow;
  border-radius: 10px;
  margin: 3vh;
}

.contact {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact div {
  display: flex;
  flex-direction: row;
}

.contact img {
  height: 40px;
  margin: 3vh 1vh;
}

.contact p {
  font-size: 20px;
  margin: 4vh 0; 
}

.contact a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
}
