/* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/oppenheimerlab-taipei-lowres.jpg");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}  */

.parallax1 {
  height: 100vh;
}

.parallax2 {
  height: 90vh;
}

.parallax img {
  max-height: 120%
}

header {
  min-height: 100vh !important;  
  /* position: absolute; */
  z-index: 1;  
  /* top: 0; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
}

header div {
  margin: 35vh 0 0 0;
}
header h1 {
  /* color: rgb(255,	239,	214); */
  font-size: 100px;
  margin: 0;
  text-shadow: -0.5px -0.5px 0 grey,
  0.5px 0.5px 0 grey,
  -0.5px 0.5px 0 grey,
  0.5px -0.5px 0 grey,
  -0.5px 0px 0 grey,
  0.5px 0px 0 grey,
  0px 0.5px 0 grey,
  0px -0.5px 0 grey;
}
header h5 {
  margin: 0;
  text-shadow: -0.5px -0.5px 0 white,
  0.5px 0.5px 0 white,
  -0.5px 0.5px 0 white,
  0.5px -0.5px 0 white,
  -0.5px 0px 0 white,
  0.5px 0px 0 white,
  0px 0.5px 0 white,
  0px -0.5px 0 white;
}
 
.upArrow1 {
  margin: 20vh 0 0 0;
}

.upArrow2 {
  margin: 2vh 0 0 0;
}
.myPhoto {
  height: 30vh;
  width: 30vh;
  /* border: 5px solid darkgrey; */
  border-radius: 110px;
  margin: 5vh 0 2vh 0;
  box-shadow: 
    0px -2px 0 black,
    0px 2px 0 black,
    -2px -2px 0 magenta,
    2px 2px 0 magenta,
    -4px 0px 0 yellow,
    4px 0px 0 yellow,
    -3px 3px 0 cyan,
    3px -3px 0 cyan;
}

.about {
  margin: 0;
  padding: 0;
}

.about p {
  margin: 5px;
  font-size: 16px;
  letter-spacing: 1.5px;

  
}

.introduction {
  /* background-color: lightyellow; */
  border: 2px solid grey;
  border-radius: 10px;
  margin: 2vh;
}
.introduction p {
  font-size: 18px;
}

.introduction span {
  font-size: 28px;
  text-shadow: -1px -1px 0 magenta,
  1px 1px 0 magenta,
  -2px -2px 0 yellow,
  2px 2px 0 yellow,
  -4px -4px 0 cyan,
  4px 4px 0 cyan;
}

h5 {
  margin: 2vh;
  letter-spacing: 1.5px;
}

.skills {
  margin: 50px 0 15px 0;
}
.skillLogoHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2vh 0 0 0 ;
}

.skillLogo {
  height: 5vh;
  margin: 2vh;
}

.projects h3 {
  margin: 5vh;
  color: rgb(255,	239,	214);
  text-shadow: -0.5px -0.5px 0 grey,
  0.5px 0.5px 0 grey,
  -0.5px 0.5px 0 grey,
  0.5px -0.5px 0 grey,
  -0.5px 0px 0 grey,
  0.5px 0px 0 grey,
  0px 0.5px 0 grey,
  0px -0.5px 0 grey;
}

@media only screen and (max-width : 992px) {
  .projectImage {
    height: 25vh;
  }
}

@media only screen and (min-width: 993px) {
  .projectImage {
    width: 40vw;
  }
}
.projectImage {
  border: 2px solid lightyellow;
  border-radius: 10px;
  margin: 3vh;
}

.contact {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact div {
  display: flex;
  flex-direction: row;
}

.contact img {
  height: 40px;
  margin: 3vh 1vh;
}

.contact p {
  font-size: 20px;
  margin: 4vh 0; 
}

.contact a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
}
