
.parallax1 {
  position: relative;
  height: 100vh;
}
/* .test {
  position: absolute;
  z-index: 4;
  background-color: green;
  height: 200px;
  width: 100px;
  top: 50px;
  left: 50px;
} */
.screen {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  /* z-index: 15; */
  height: 100vh;
  width: 100vw;
  animation: sink-screen 5s forwards;
  opacity: 1;
}
.parallax2 {
  height: 90vh;
}

.parallax img {
  max-height: 120%
}

header {
  min-height: 100vh !important;  
  /* z-index: 1;   */
}

.mainHeader {
  background-color: rgba(48, 48, 34, 0.4);
  margin: 25vh auto 0 auto;
  border-radius: 5px;
  padding: 2vw;
  width: fit-content;
  height: fit-content;
}

.mainHeader h1 {
  color: rgb(255, 255, 205);
}

h1 span {
  margin: -10px;
  position: relative;
}

.z1 {z-index: 1}
.z2 {z-index: 2}
.z3 {z-index: 3}
.z4 {z-index: 4}
.z5 {z-index: 5}
.z6 {z-index: 6}
.z7 {z-index: 7}
.z8 {z-index: 8}
.z9 {z-index: 9}
.z10 {z-index: 10}
.z11 {z-index: 11}
.z12 {z-index: 12}
.z13 {z-index: 13}
.z14 {z-index: 14}

header h5 {
  margin: 0;
}
 
.upArrow1 {
  margin: 8vh 0 0 0;
}

.upArrow2 {
  margin: 2vh 0 0 0;
}
.myPhoto {
  height: 30vh;
  width: 30vh;
  /* border: 5px solid darkgrey; */
  border-radius: 110px;
  margin: 5vh 0 2vh 0;
  box-shadow: 
    0px -2px 0 black,
    0px 2px 0 black,
    -2px -2px 0 magenta,
    2px 2px 0 magenta,
    -4px 0px 0 yellow,
    4px 0px 0 yellow,
    -3px 3px 0 cyan,
    3px -3px 0 cyan;
}

.about {
  margin: 0;
  padding: 0;
}



.introduction {
  /* background-color: lightyellow; */
  border: 2px solid grey;
  border-radius: 10px;
  margin: 2vh;
}
.introduction p {
  font-size: 18px;
}

.introduction span {
  font-size: 28px;
  text-shadow: -1px -1px 0 magenta,
  1px 1px 0 magenta,
  -2px -2px 0 yellow,
  2px 2px 0 yellow,
  -4px -4px 0 cyan,
  4px 4px 0 cyan;
}

h5 {
  margin: 2vh;
  letter-spacing: 1.5px;
}

.skills {
  margin: 50px 0 15px 0;
}
.skillLogoHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2vh 0 0 0 ;
}

.skillLogo {
  height: 5vh;
  margin: 2vh;
}

.projects h3 {
  margin: 5vh auto 2vh auto;
  color: rgb(255,	239,	214);
  text-shadow: -0.5px -0.5px 0 grey,
  0.5px 0.5px 0 grey,
  -0.5px 0.5px 0 grey,
  0.5px -0.5px 0 grey,
  -0.5px 0px 0 grey,
  0.5px 0px 0 grey,
  0px 0.5px 0 grey,
  0px -0.5px 0 grey;
}

.hanoi {
  background-image: url('../images/tower_of_hanoi.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.codePOS {
  background-image: url('../images/codePOS.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.gaAha {
  background-image: url('../images/GA-Aha.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.memorTree {
  background-image: url('../images/memorTree.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
/* mobile */
@media only screen and (max-width : 850px) {
  .about p {
  margin: 5px;
  font-size: 24px;
  letter-spacing: 1.5px;
  }
  .projectContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 75vh;
    width: auto;
    margin: auto;
    flex-wrap: wrap;
    overflow-x: scroll;
  }
  .projectButton {
    display: flex;
    position: relative;
    border: 2px solid lightyellow;
    border-radius: 10px;
    margin: 1vw;
    width: 60vw; 
    height: 40vw; 
  }

  header h1 {
  font-size: 70px;
  margin: 1vw;
  }
}


/* desktop */
@media only screen and (min-width: 851px) {
  .about p {
  margin: 5px;
  font-size: 20px;
  letter-spacing: 1.5px;
  }
  .projectContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .projectButton {
    display: flex;
    position: relative;
    border: 2px solid lightyellow;
    border-radius: 10px;
    margin: 1vw;
    width: 35vw; 
    height: 24vw; 
    max-width: 52.5vh;
    max-height: 35vh;
  }
  .description {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    min-width: 100%;
    color: transparent;
  }
  .description h6 {
    margin-top: 0;
  }

  .description p {
    text-align: justify;
    margin: 5px 10px 2px 10px;
  }

  .technologies {
    position: absolute;
    bottom: 2px;
  }


  .description:hover {
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 254, 235, 0.85);
  }

  header h1 {
  font-size: 100px;
  margin: 1vw;
  }

  .projectHover {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
}


.contact {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact div {
  display: flex;
  flex-direction: row;
}

.contact img {
  height: 40px;
  margin: 3vh 1vh;
}

.contact p {
  font-size: 20px;
  margin: 4vh 0; 
}

.contact a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
}


/* animations */

@keyframes sink-screen {
  0% {
    z-index: 15;
    opacity: 1;
  }
  75% {
    z-index: 0;
    /* opacity: 0.75; */
  }
  95% {
    opacity: 0;
  }
  100% {
    z-index: 0;
    opacity: 0;
  }
}